
  <div class="container">
    <header class="jumbotron subhead" id="overview">
  <div class="center hero-unit">
    <h1>Hello, Rails!</h1>
    <p  align="center" class= "btn btn-large btn-primary"><%= link_to "My Blog", controller: "posts" %></p>
    
  </div>
    </header>
  </div>

